@mixin desktop() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin phone() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin minimal() {
  @media screen and (max-width: 320px) {
    @content;
  }
}